{% extends 'base.html.twig' %}

{% block title %}Receta index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{receta.descripcion}}</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ingrediente</th>
                <th>unidad</th>
                <th>cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recetaingrediente in receta.recetaIngredientes %}
            <tr>
                <td>{{ recetaingrediente.ingrediente }}</td>
                <td>{{ recetaingrediente.ingrediente.unidad }}</td>
                <td>{{ recetaingrediente.cantidad }}</td>
                <td>
                	{% if receta.usuario == usuario %}
                    	{{ include('receta_ingrediente/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">sin ingredientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if receta.usuario == usuario %}
        <a class="btn btn-success linea" href="{{ path('receta_ingrediente_new', {'id': receta.id}) }}">Agregar</a>
    {% endif %}

    <a class="btn btn-primary linea" href="{{ path('receta_index') }}">Volver</a>
{% endblock %}