{% extends 'base.html.twig' %}

{% block title %}Receta index{% endblock %}

{% block body %}
    <h1>{{receta.descripcion}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ingrediente</th>
                <th>unidad</th>
                <th>cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recetaingrediente in receta.recetaIngredientes %}
            <tr>
                <td>{{ recetaingrediente.ingrediente }}</td>
                <td>{{ recetaingrediente.ingrediente.unidad }}</td>
                <td>{{ recetaingrediente.cantidad }}</td>
                <td>
                    {{ include('receta_ingrediente/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if receta.usuario == usuario %}
        <a href="{{ path('receta_ingrediente_new', {'id': receta.id}) }}">agregar</a>
    {% endif %}

    <a href="{{ path('receta_index') }}">volver</a>
{% endblock %}