{% extends 'base.html.twig' %}

{% block title %}Receta{% endblock %}

{% block body %}
    <h1>Receta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recetum.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ recetum.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ asset('uploads/imagenes/' ~ recetum.imagen) }}" width="640" height="360"></img></td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ recetum.detalle }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ recetum.fecha ? recetum.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>ingrediente</th>
                <th>unidad</th>
                <th>cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recetaingrediente in recetum.recetaIngredientes %}
            <tr>
                <td>{{ recetaingrediente.ingrediente }}</td>
                <td>{{ recetaingrediente.ingrediente.unidad }}</td>
                <td>{{ recetaingrediente.cantidad }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">sin ingredientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary linea" href="{{ path('receta_index') }}">Volver</a>

    
{% endblock %}
