{% extends 'base.html.twig' %}

{% block title %}Receta{% endblock %}

{% block body %}
    <h1>Receta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recetum.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ recetum.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ recetum.fecha ? recetum.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('receta_index') }}">back to list</a>

    <a href="{{ path('receta_edit', {'id': recetum.id}) }}">edit</a>

    {{ include('receta/_delete_form.html.twig') }}
{% endblock %}
