{% extends 'baseLogin.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}

    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Registrarse!</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	{{ form_start(registrationForm) }}
                    <div class="form-group">
                        <div class="form-floating">
                            {{ form_widget(registrationForm.email, { 'attr':{'placeholder': 'Email' }}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>
	                <div class="form-group">
                        <div class="form-floating">
                             {{ form_widget(registrationForm.nombre, { 'attr':{'placeholder': 'Nombre' }}) }}
                        </div>
	                </div>
                    <div class="form-group">
                        <div class="form-floating">
                             {{ form_widget(registrationForm.apellido, { 'attr':{'placeholder': 'Apellido' }}) }}
                        </div>
	                </div>
                    <div class="form-group">
                        <div class="form-floating">
                             {{ form_row(registrationForm.apto) }}
                        </div>
	                </div>
                    <div class="form-group">
                        <div class="form-floating">
                            {{ form_widget(registrationForm.plainPassword, { 'attr':{'placeholder': 'Password' }}) }}
                        </div>
	                </div>
                    {{ form_row(registrationForm.agreeTerms, { 'label': 'Terminos y condiciones' }) }}
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Registrarse</button>
                    </div>
	             {{ form_end(registrationForm) }}
		      </div>
			</div>
		</div>
	</section>
{% endblock %}
