{% extends 'baseLogin.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal">Registrarse</h1>

    {{ form_start(registrationForm) }}
        <div class="form-floating">
            {{ form_widget(registrationForm.email) }}
            <label for="inputEmail">Email</label>     
        </div>
        <div class="form-floating">
            {{ form_widget(registrationForm.nombre) }}
            <label for="inputNombre">Nombre</label>     
        </div>
        <div class="form-floating">
            {{ form_widget(registrationForm.apellido) }}
            <label for="inputApellido">Apellido</label>     
        </div>
        <div class="form-floating">
            {{ form_row(registrationForm.apto) }}
        </div>
        <div class="form-floating">
            {{ form_widget(registrationForm.plainPassword) }}
            <label for="inputPassword">Password</label>     
        </div>
        {{ form_row(registrationForm.agreeTerms, { 'label': 'Terminos y condiciones' }) }}

        <button type="submit" class="btn btn-primary">Registrarse</button>
    {{ form_end(registrationForm) }}
{% endblock %}
