<form name="receta_ingrediente" method="post" action="{{receta.id}}">
    <div class="form-group">
            {{ form_row(form.ingrediente, { 'attr':{'placeholder': 'Ingrediente' }}) }}
            {{ form_errors(form.ingrediente) }}
    </div>
    <div class="form-group">
    	<label for="unidad">Unidad</label>
    	<input class="form-control" type="text" id="unidad" disabled value="">
    </div>
    <div class="form-group">
            {{ form_row(form.cantidad, { 'attr':{'placeholder': 'Cantidad' }}) }}
            {{ form_errors(form.cantidad) }}
    </div>
    {% if receta.usuario == usuario %}
        <button class="btn btn-success linea">{{ button_label|default('Guardar') }}</button>
    {% else %}
        Esta receta no te pertence
    {% endif %}
    <a class="btn btn-primary linea" href="{{ path('receta_ingredientes', {'id': receta.id}) }}">Volver</a>
{{ form_end(form) }}
